.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 95px;
  height: 150px;
  padding: 6px;
  margin: 10px;
  border: solid 1px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .face {
  font-size: 16px;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 10px;
}

.card .suit {
  background-image: url("./assets/suits.png");
  height: 100px;
  width: 90px;
}

.card .S {
  background-position-x: 0px;
  background-position-y: 0px;
}

.card .D {
  background-position-x: 0px;
  background-position-y: 100px;
}

.card .H {
  background-position-x: 90px;
  background-position-y: 0px;
}

.card .C {
  background-position-x: 90px;
  background-position-y: 100px;
}

.result {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.button {
  width: 200px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}

.rank {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}